<% include ../partials/header %>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<!--Styling-->
<link rel-"stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></link>

<div class="container">
    <h1>All opps...</h1>
    <!-- TODO jumbotron here-->
</div>


    <div class="container">
        
        

        <table id="opp-table" class="table table-striped table-bordered">
            <thead>
                <th>QQID</th>
                <th>Cust.</th>
                <th>Rep</th>
                <th>Project</th>
                <th>QQ Type</th>
                <th>Address</th>
                <th>Structure</th>
                <th>Panel1</th>
                <th>Cov.</th>
                <th>Panel2</th>
                <th>Hem</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <!--Opps model passed as opps from routes/opp.js-->
                <% opps.forEach(function(opps){ %>
                    <tr>
                        <td><%= opps.qqId %></td>
                        <td><%= opps.custName %></td>
                        <td><%= opps.salesRep %></td>
                        <td><%= opps.oppName %></td>
                        <td><%= opps.qqType %></td>
                        <td><%= opps.address %></td>
                        <td><%= opps.structure %></td>
                        <td><%= opps.panel1 %></td>
                        <td><%= opps.panel1Coverage %></td>
                        <td><%= opps.panel2 %></td>
                        <td><%= opps.hem %></td>
                        <td>
                            <% opps.status.forEach(function(status){ %>
                                <%= status.name %>
                            <% }); %>
                        </td>
                        <td> 
                            <% if(!currentUser) { %> 
                            <% } else { %>
                                <a href="/opps/<%= opps._id %>"><i class="far fa-comments"></i></a>
                                <a href="/opps/<%= opps._id %>/edit"><i class="fas fa-edit"></i></a>
                            <% } %>
                            
                        </td>
                    </tr>
                    <% }) %>
                
            </tbody>
        </table>
    </div>

<div class="container">
    <a class='btn btn-primary btn-md' href='/opps/new'>Add new opp</a>
    <hr>
    <a href='/'>go home</a>
</div>





<!--Search Bar-->
<script>
    $(document).ready(function() {
    $('#opp-table').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>

<!--Hide/Show cols-->
<script>>

</script>


<% include ../partials/footer %>