<% include ../partials/header %>

<div class="container">
    <div>
                <p>QQID: <strong><%= opp.qqId  %></strong></p>
                <p>Customer: <%= opp.custName %> </p>
                <p>Job Name: <%= opp.oppName %> Address: <%= opp.address %></p>
                <p>QQ type: <% opp.qqType %> Structures included: <%= opp.structure %></p>
                <p>Panel: <%= opp.panel1 %> Coverage: <%= opp.panel1Coverage %> Hem: <%= opp.hem %></p>
                <% if(opp.panel2){ %>
                    <p>Alternate Panel: <%= opp.panel2 %> Coverage: <%= opp.panel2Coverage %> </p>
                <% } %>
                <p>
                    Time Submitted: <%= opp.timeIn %> 
                    <% if(opp.timeout){ %>
                        Time Out: <%= opp.timeout %>
                    <% } %>
                </p>
    </div>
    
    <div>
        <% if(currentUser.role == "cad" || currentUser.role == "admin"){ %>
                <% opp.status.forEach(function(status){ %>
                    <tr>
                        <td><%= status.name %></td>
                        <td><%= status.date %></td>
                    </tr>
                <% }) %>
        <% } %>
    </div>
    
    <div class="well">
        <p class="text-right">
            <a href="/opps/<%= opp._id %>/notes/new" class="btn btn-success">Add a Note</a>
            <form action="/opps/<%= opp._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </p>
        <hr>
            <% notes.forEach(function(note){ %>
                <div class="row">
                    <div class="col-md-12 note">
                        <strong><%= note.author.username %></strong>
                        <span class="flag-cad"><em> <%= note.flagCad %></em></span>
                            <% var d = note.timeIn;
                                var dd = d.getDate();
                                var mm = d.getMonth() + 1; //Months are zero based
                                var yyyy = d.getFullYear();
                                if(dd<10) {
                                    dd = '0'+dd
                                } 
                                if(mm<10) {
                                    mm = '0'+mm
                                } 
                                let date = dd + "-" + mm + "-" + yyyy;
                            %>
                        <span class="pull-right"><%= date %></span>
                        <p> <%= note.text %></p>
                        <span>
                            <% note.files.forEach(function(file){ %>
                                <a href="../<%= file.url %>"> <%= file.name %> </a>
                            <% }) %>

                        </span>
                    </div>
                
                </div>   
            <% }) %>

        
        
    </div>
</div>


<!--Need to make this work...-->
<script>
    noteSelector = $(".note")
    flagSelector = $(".flag-cad")

    noteSelector.each(function(){
        if(flagSelector.length > 0){
            //flagSelector.text("CAD ONLY: ON");
            console.log(flagSelector.text())
            console.log("yep")
        }
    });
    
    
</script>


<% include ../partials/footer %>